* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Amatic SC";
  font-size: 20px;
}

/* Index page */
li {
  float: right;
}

li a {
  display: block;
  padding: 16px 25px;
  margin-right: 8px;
  background-color:
    text-decoration: none;
  text-align: center;
  color: black;
  font-size:20px;
}
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color:
    overflow:hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  border-radius: 100px;
}

a:hover {
  color: #E0A460;
  background-color: black;
}

.logo {
  float: left;
}

.active {
  float: right;
  font-size:20px;
}

.flex-container {
  border-radius: 100px;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color:
}

.main {
  width: 60%;
  padding: 100px;
  padding-top: 20px;
  margin-top: 50px;
}

.welcome {
  background-color: #E0A460;
  padding: 20px;
  border: 8px black;

}
}

.right {
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

.sand {
  float: right;
  margin-left: 700px;
  margin-bottom: 200px;
}

.h2.index {
  width: 100%;
  font-size: 40px;
}

/* Contact page */
.container {
  background-image: url("img/old.papers.jpeg") background-image: url("paper.gif");
  border-radius: 100px;
  border: 5px;
  background-color: #f2f2f2;
  padding: 40px;
  min-height: 30vh;
}

.fname {
  padding: 50px;
  border: 8px;
  color: black;
}

/* Om */

.container-om {
  display: flex;
  width: 100%
  min-height:50vh;
  background-color: #f2f2f2;
  padding-top: 100px;

}

.left {
  padding:
  background-color:#E0A460;
  width: 30%;
  align: right;
  padding: 20px;
  height:70%;


}

.right2 {
height: 70%;
width: 30%
padding:

}



.active2 {
  margin-right: 50px;
  background-color: #darkgrey;
}





/*Photoshop opgave*/
.container2 {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  height: 50%;
  justify-content: center;
  width: auto;
  padding: none;
}

.førbillede, .efterbillede {
  height: 50%;
  width: auto;
  display: flex;
}

/*Photoshop tekst*/
.container3 {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  height: 80vh;
  justify-content: center;
  padding-top: none;
}

.h1pstekst, .h2tekst {
  text-align: center;
}

.beskrivelse {
  width: auto;
  height: auto;
  margin-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color:
  border: 1px solid black;
  text-align: center;
}

.red {
  color: purple;
  font-size: 20px;
}

.pstekst {
  border: 1px solid black;
}



@media only screen and (max-width:800px) {
  .menu, .main, .right {
    width: 100%;
  }

  @media only screen and (max-width:620px) {

    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
